# Virtual Environment 
venv/
env/

# Python Cache
__pycache__/
*__.pyc

# Database
instance/

# Environment variables — never commit this file
.env
*.db
*.sqlite3

# Environment Variables
.env

project_context.md
*.pdf